@model TankMonitorV1.Models.Tank

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Tank</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TankNumber" class="control-label"></label>
                <input asp-for="TankNumber" class="form-control" />
                <span asp-validation-for="TankNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capasity" class="control-label"></label>
                <input asp-for="Capasity" class="form-control" />
                <span asp-validation-for="Capasity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuelType" class="control-label"></label>
                <input asp-for="FuelType" class="form-control" />
                <span asp-validation-for="FuelType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" class="form-control" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Enable" /> @Html.DisplayNameFor(model => model.Enable)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Descript" class="control-label"></label>
                <input asp-for="Descript" class="form-control" />
                <span asp-validation-for="Descript" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GSID" class="control-label"></label>
                <input asp-for="GSID" class="form-control" />
                <span asp-validation-for="GSID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
